<!-- Titre page -->
<div class="container" ng-controller="homeCtrl">
    <div class="page-header">
        <h3>Les meilleurs jeux agiles</h3>
    </div>
    <div class="row">
        <div ng-repeat="elem in dataNote | orderBy:'votes.participants':true|limitTo:9" class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-lg-4 padding-t-b">
            <a href="/#/catalogue/{{elem.workshop._id}}">
                <img src="{{elem.workshop.photo}}" class="img-thumbnail center-block">
                <p class="workshopTitle text-center">{{elem.workshop.title}}</p>
            </a>
        </div>
    </div>
</div>