<div class="container detail">
    <!-- Titre page -->
    <div class="page-header">
        <h3>{{workshop.title}}</h3>
    </div>
    <div class="row">
        <!-- Detail -->
        <div class="col-xs-12 no-padding">
            <!-- image -->
            <div class="col-xs-12 col-sm-5">
                <img class="img-responsive center-block" src="{{workshop.photo}}">
            </div>
            <!-- Info atelier -->
            <div class="col-xs-12 col-sm-7">
                <div class="col-xs-12 col-sm-5 no-padding col-sm-push-7 text-right-sm" ng-controller="TooltipCtrl">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal3"  uib-tooltip="Ajouter à mon agenda" tooltip-placement="top" ><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></button>
                    <!--<button type="button" class="btn btn-default" ng-click="addToInstances()" uib-tooltip="Ajouter pour lancer un atelier" tooltip-placement="top" ><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button> -->
                    <button type="button" class="btn btn-default favorite-false" ng-click="addToFavorite()" uib-tooltip="Ajouter aux favoris" tooltip-placement="top"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-default favorite-true" ng-click="deleteFavorite()" uib-tooltip="Retirer des favoris" tooltip-placement="top"><img style="width: 14px; padding-bottom: 4px;"src="../../img/coeur.png"></button>

                    <a data-toggle="modal" data-target="#confirmationModal"><button style="margin-left: 20px" type="button" class="btn btn-danger" uib-tooltip="Supprimer l'atelier" tooltip-placement="top"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></a>
                </div>
                <div class="col-xs-12 col-sm-7 no-padding col-sm-pull-5">
                    <h4>Informations pratiques</h4>
                </div>
                <span class="lineHeight">
                    <span ng-repeat="category in workshop.content.educational_aims | orderBy">
                        <span class="label {{getLabelColor(category)}}">{{category}}</span>
                    </span><br /><br />

                    Notes :<br />
                    <div class="col-xs-12">
                        Participants :
                        <i ng-if="workshop.grade.participants"
                           ng-class="{ 'fa fa-star': $index<=workshop.grade.participants, 'fa fa-star-o': $index>workshop.grade.participants }"
                           data-ng-repeat="i in [] | range:5"></i>
                        <span ng-if="!workshop.grade.participants">Aucunes notes</span>
                    </div>
                    <div class="col-xs-12">
                        Facilitateurs :
                        <i ng-if="workshop.grade.facilitators"
                           ng-class="{ 'fa fa-star': $index<=workshop.grade.facilitators, 'fa fa-star-o': $index>workshop.grade.facilitators }"
                           data-ng-repeat="i in [] | range:5"></i>
                        <span ng-if="!workshop.grade.facilitators">Aucunes notes</span>
                    </div>
                    <br /><br /><br />
                    Nombre de fois joué : {{workshop.nb_time_played}}<br />
                    Durée de l'atelier : {{workshop.duration}} minutes<br />
                    Auteur: {{workshop.author}}<br />
                    Source : <a class="link" target="_blank" href="{{workshop.content.source}}">{{workshop.content.source}}</a><br />
                </span>
            </div>
            <!-- Description -->
            <div class="col-xs-12" >
                <h4>Description de l'atelier<div class="line center-block"></div></h4>
                <p class="text-justify" ng-bind-html="workshop.content.folklore | to_trusted">

                </p>
            </div>
            <!-- Materiel -->
            <div class="col-xs-12">
                <h4>Matériel & Setup de la salle</h4>
                <div ng-bind-html="workshop.content.equipment | to_trusted"></div>
            </div>
            <!-- Conducteur -->
            <div class="col-xs-12" >
                <h4>Conducteur de l'atelier</h4>
                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col class="col-xs-1">
                        <col class="col-xs-2">
                        <col class="col-xs-9">
                    </colgroup>
                    <thead><tr>
                        <th class="text-center">Timing</th>
                        <th class="text-center">Phase</th>
                        <th class="text-center">Description</th>
                    </tr>
                    </thead> <tbody>
                        <tr ng-repeat="step in workshop.content.steps">
                            <td class="text-center">{{timingArray[$index]}}</td>
                            <td class="text-center">{{step.title}}<br />{{step.duration}}</td>
                            <td ng-bind-html="step.description | to_trusted"></td>
                        </tr>
                </tbody> </table>
            </div>
            <div class="col-xs-12" >
                <h4>Instructions de l'atelier</h4>
                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col class="col-xs-1">
                        <col class="col-xs-2">
                        <col class="col-xs-9">
                    </colgroup>
                    <thead><tr>
                        <th class="text-center">Timing</th>
                        <th class="text-center">Phase</th>
                        <th class="text-center">Instructions</th>
                    </tr>
                    </thead> <tbody>
                <tr ng-repeat="step in workshop.content.steps">
                    <td class="text-center">{{timingArray[$index]}}</td>
                    <td class="text-center">{{step.title}}<br />{{step.duration}}</td>
                    <td ng-if="step.instructions" ng-bind-html="step.instructions| to_trusted"></td>
                    <td ng-if="!step.instructions" class="text-center">Pas d'instructions</td>
                </tr>
                </tbody> </table>
            </div>
        </div>
        <!--<div class="col-xs-8">
            <h4>Les commentaires : </h4>
            <div class="thumbnail">
                <div class="col-xs-6">
                    <h4>LeSauvage</h4>
                </div>
                <div class="col-xs-6 com-start">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                </div>
                <p class="com">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tortor dolor, ornare non sagittis ac, sagittis eget nulla. Integer ut ex sit amet elit porttitor ullamcorper. Suspendisse potenti. Aenean commodo condimentum blandit. Integer finibus maximus feugiat. Sed ultrices eros quam, eu congue felis imperdiet vel.</p>
                <p class="small"><em>Posté le : 5 octobre 2016</em></p>
            </div>
        </div>
        <div class="col-xs-4">
            <h4>Les photos : </h4>
            <p>Slider de photos ?</p>
        </div>-->
    </div>
</div>

<!-- Modal -->
<!-- Confirmation -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Supprimer l'atelier</h4>
            </div>
            <div class="modal-body text-center">
                <p>Êtes vous sûr(e) de vouloir supprimer cet atelier ?</p><br/>
                <button data-dismiss="modal" type="button" class="btn btn-default">Non</button>
                <span class="add-padding"></span>
                <button data-dismiss="modal" type="submit" class="btn btn-default" ng-click="deleteWorkshop()">Oui</button>
                <br/>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ajouter à mon agenda</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="form-horizontal col-xs-10 col-xs-offset-1" ng-submit="addToInstances()">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Avec qui</label>
                            <div class="col-sm-9">
                                <input required="required" type="text" class="form-control" placeholder="Nom du groupe, entreprise, promotion, ..." ng-model="user_gr">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Date prévue</label>
                            <div class="col-sm-9"
                                 moment-picker="ctrl.datepicker"
                                 moment-picker="ctrl.locale" locale="fr"
                                 format="YYYY-MM-DD">
                                <input type= "text" class="form-control" required="required"
                                       placeholder="Sélectionnez une date"
                                       ng-model="ctrl.datepicker"
                                       ng-model-options="{ updateOn: 'blur' }"
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Heure prévue</label>
                            <div class="col-sm-9">
                                <input required="required" type="time" class="form-control" ng-model="inputTime" placeholder="09:42">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 text-center">
                                <button type="submit" class="btn btn-default">Ajouter l'atelier</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>






