<div id="wrapper" class="container">
    <menu></menu>
    <!-- Titre page -->
    <div id="page-content-wrapper">
        <div class="page-header">
            <h3>Votre profil</h3>
        </div>
        <div class="row">
            <!-- Résultat -->
            <div class="col-xs-12 no-padding">
                <div>Email : {{email}}

                </div>

            </div>
        </div>

        <div class="row">
            <!-- Résultat -->
            <div class="col-xs-12 no-padding">
                <div>Pseudo : {{name}}

                </div>

            </div>
        </div>

        <br>



<div class="row">
    <button  type="button" class="btn btn-default"  ng-click="showme=true;showme1=false;showme2=false" aria-label="Toggle ngShow">
        Changer d'email
    </button>
    <button  type="button" class="btn btn-default"  ng-click="showme1=true;showme=false;showme2=false" aria-label="Toggle ngShow">
        Changer de pseudo
    </button>

    <button  type="button" class="btn btn-default"  ng-click="showme2=true;showme=false;showme1=false" aria-label="Toggle ngShow">
        Changer de mot de passe
    </button>

</div>

        <div class="check-element animate-show-hide" ng-show="showme">
            <div class="form-group">
                <div class="col-xs-5" >
                    <input type="text" ng-model="email_" class="form-control"  placeholder="Nouvelle adresse email">
                </div>
            </div>

            <button type="button" class="btn btn-default"  ng-click="modifierEmail();showme=false" >
                Envoyer
            </button>

        </div>

        <div class="check-element animate-show-hide" ng-show="showme1">
            <div class="form-group">
                <div class="col-xs-5">
                    <input type="text" ng-model="pseudo" class="form-control"  placeholder="Nouveau pseudo">
                </div>
            </div>

            <button type="button" class="btn btn-default"  ng-click="modifierPseudo();showme1=false" >
                Envoyer
            </button>

        </div>
        <div class="check-element animate-show-hide" ng-show="showme2">
            <div class="form-group">
                <div class="col-xs-5">
                    <input type="text" ng-model="password_" class="form-control"  placeholder="Nouveau mot de passe">
                </div>
            </div>

            <button type="button" class="btn btn-default"  ng-click="modifierMotPasse();showme2=false" >
                Envoyer
            </button>

        </div>



    </div>













</div>

<!--<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel4">modifier le pseudo et/ou le mot de passe</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <form class="form-horizontal col-xs-10 col-xs-offset-1" ng-submit="modifier()">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nouveau Pseudo</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="username_" class="form-control"  placeholder="Pseudo">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nouveau Mot de passe</label>
                            <div class="col-sm-9">
                                <input type="password" ng-model="password_" class="form-control" placeholder="**********">
                            </div>
                        </div>

                        <br />
                        <div class="form-group">
                            <div class="col-xs-12 text-center">
                                <a href="#" type="button" ng-click="modifier()" class="btn btn-default" data-dismiss="modal">Modifier</a>
                            </div>
                        </div>
                        <input type="submit" value="submit" ng-show="false">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>-->







