<div class="container search" ng-controller="catalogueCtrl">
    <!-- Titre page -->
    <div class="page-header">
        <h3>Catalogue des ateliers</h3>
    </div>
    <!-- Recherche -->
    <div class="row search-bar">
        <div class="col-xs-12 no-padding">
            <div class="input-group">
                <span id="avancedSearch" class="input-group-btn">
                    <button ng-click="dropDown()" type="button" class="btn btn-default dropdown-toggle">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="add-padding">Cochez les notions que vous recherchez</li>
                        <li role="separator" class="divider"></li>
                        <li class="checkbox add-padding">
                            <label><input type="checkbox" value="">Option 1</label>
                        </li>
                        <li class="checkbox add-padding">
                            <label><input type="checkbox" value="">Option 2</label>
                        </li>
                       <button type="button" class="btn btn-default center-block" ng-click="close()">Fermer</button>
                    </ul>
                </span>
                <input type="text" ng-model="search" class="form-control" placeholder="Rechercher...">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="rechercher" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
    <form >
        advanced research:
        <input type="checkbox" ng-model="myVar">
    </form>
    <div ng-show="myVar" ng-controller="ExampleController">
        <label ng-repeat="prop in props">
            <input type="checkbox" checklist-model="atelier.props" checklist-value="prop"> {{ prop }}
        </label>
    </div>
    <!--<div ng-show="myVar"> -->
       <!-- c1 : <input type="checkbox" ng-model="checkboxModel.value1">
        c2 : <input type="checkbox"ng-model="checkboxModel.value2" ng-true-value="'YES'" ng-false-value="'NO'" >
        C3: <input type="checkbox" ng-model="checkboxModel.value3">
    </div>
    value1 = {{ checkboxModel.value1 }}<br/>
    value2 = {{ checkboxModel.value2 }} <br/>


-->



        <!--
        <div ng-controller="CheckCtrl">

            <label ng-repeat=choix in tableauChoix>
                <input type=checkbox name=elementsChoisis[] value={{choix.nom}} ng-model=choix.selectionne> {{choix.nom}}
            </label>
            &lt;!&ndash;<ul class="checkboxes">
                <li ng-repeat="(key, text) in availableTypes">
                    <label>
                        <input type="checkbox"
                               name="filterType"
                               ng-click="toggleTypeSelection({  key })"
                               ng-checked="isTypeChecked({  key })">
                        {{ text }}
                    </label>
                </li>
            </ul>&ndash;&gt;
        </div>-->

   <!-- <div ng-controller="AppCtrl">
    <form>
        advanced research:
        <input type="checkbox" ng-model="myVar">
    </form>
    <div ng-show="myVar">
       &lt;!&ndash; c1 : <input type="checkbox" ng-model = "c1">
        c2 : <input type="checkbox" >
        C3: <input type="checkbox" >&ndash;&gt;

        <md-checkbox aria-label="Select All"
                     ng-checked="isChecked()"
                     md-indeterminate="isIndeterminate()"
                     ng-click="toggleAll()">
            <span ng-if="isChecked()">Un-</span>Select All
        </md-checkbox>

        <div  ng-repeat="item in items">
            <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                {{ item }}
            </md-checkbox>
        </div>


</div>

</div>-->


        <div class="row">
        <!-- Résultat -->
        <div class="col-xs-12 no-padding">
            <div ng-repeat="elem in data.data | filter:search |filter : c1">
                <a href="/#/catalogue/{{elem.workshop._id}}">
                    <div class="col-xs-12 thumbnail">
                        <!-- Photo -->
                        <div class="col-xs-4 col-sm-3 no-padding-r">
                            <img class="img-responsive img-padding" src="{{elem.workshop.photo}}">
                        </div>
                        <div class="col-xs-8 col-sm-9">
                            <!-- Titre -->
                            <div class="col-xs-12 no-padding">
                                <div class="col-xs-12 col-md-6 no-padding">
                                    <h4 class="labelsTitle">{{elem.workshop.title}}</h4>
                                </div>
                                <div class="col-xs-12 col-md-6 padding-t labels hidden-xs no-padding">
                                    <span ng-repeat="category in elem.workshop.content.educational_aims | orderBy" class="label {{getLabelColor(category)}}">{{category}}</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 no-padding">
                                <!-- Note -->
                                votes participants :
                                <div>
                                    <i class="fa fa-star" data-ng-repeat="i in [] | range:elem.votes.participants"></i>
                                    <i class="fa fa-star-half-o" ng-if="(elem.votes.participants%1) > 0"></i>
                                    <i class="fa fa-star-o" data-ng-repeat="i in [] | range:5-elem.votes.participants"></i>

                                </div>
                                votes facilitateurs :
                                <div>
                                    <i class="fa fa-star" data-ng-repeat="i in [] | range:elem.votes.facilitators"></i>
                                    <i class="fa fa-star-half-o" ng-if="(elem.votes.facilitators%1) > 0"></i>
                                    <i class="fa fa-star-o" data-ng-repeat="i in [] | range:5-elem.votes.facilitators"></i>

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 no-padding">
                                <div>
                                    <!-- Temps de l'atelier -->
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{elem.workshop.time_min}}m
                                </div>
                            </div>
                            <!-- Detail -->
                            <p class="hidden-xs">{{elem.workshop.synopsis}}</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Page nav -->
            <!--
            <nav aria-label="Page navigation">
                <ul class="pagination pull-right">
                    <li class="disabled">
                        <a aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            -->
        </div>
    </div>
</div>

<!--
<div class="container search" ng-controller="catalogueCtrl">
    &lt;!&ndash; Titre page &ndash;&gt;
    <div class="page-header">
        <h3>Catalogue des ateliers</h3>
    </div>
    &lt;!&ndash; Recherche &ndash;&gt;
    <div class="row search-bar">
        <div class="col-xs-12 no-padding">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Rechercher...">
                <span class="input-group-btn">
                <button class="btn btn-default" ng-click="rechercher" type="button"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
        </div>
    </div>
    <div class="row">
        &lt;!&ndash; Résultat &ndash;&gt;
        <div class="col-xs-12 no-padding">
            <div ng-repeat="workshop in data.data">
                <a href="/#/catalogue/{{workshop._id}}">
                    <div class="col-xs-12 thumbnail">
                        &lt;!&ndash; Photo &ndash;&gt;
                        <div class="col-xs-4 col-sm-3 no-padding-r">
                            <img class="img-responsive img-padding" src="{{workshop.photo}}">
                        </div>
                        <div class="col-xs-8 col-sm-9">
                            &lt;!&ndash; Titre &ndash;&gt;
                            <div class="col-xs-12 no-padding">
                                <div class="col-xs-12 col-md-6 no-padding">
                                    <h4 class="labelsTitle">{{workshop.title}}</h4>
                                </div>
                                <div class="col-xs-12 col-md-6 padding-t labels hidden-xs no-padding">
                                    <span ng-repeat="category in workshop.content.educational_aims | orderBy" class="label {{getLabelColor(category)}}">{{category}}</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 no-padding">
                                &lt;!&ndash; Note &ndash;&gt;
                                <div>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 no-padding">
                                <div>
                                    &lt;!&ndash; Temps de l'atelier &ndash;&gt;
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{workshop.time_min}}m
                                </div>
                            </div>
                            &lt;!&ndash; Detail &ndash;&gt;
                            <p class="hidden-xs">{{workshop.synopsis}}</p>
                        </div>
                    </div>
                </a>
            </div>

            &lt;!&ndash; Page nav &ndash;&gt;
            &lt;!&ndash;
            <nav aria-label="Page navigation">
                <ul class="pagination pull-right">
                    <li class="disabled">
                        <a aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            &ndash;&gt;
        </div>
    </div>
</div>-->
