<div class="container search">
    <!-- Titre page -->
    <div class="page-header">
        <h3>Catalogue des ateliers</h3>
    </div>
    <!-- Recherche -->
    <div class="row search-bar" nb-model="resultant">
        <div class="col-xs-12 no-padding">
            <div class="input-group">
                <span id="avancedSearch" class="input-group-btn">
                    <button ng-click="dropDown()" type="button" class="btn btn-default dropdown-toggle">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="add-padding">Cochez les notions que vous recherchez</li>
                        <li role="separator" class="divider"></li>
                        <li class="checkbox add-padding">
                            <label><input id="a" type="checkbox" ng-model="educational_aims_search.value1"
                                          ng-true-value="'Prévisions'" ng-false-value="''">Prévisions</label>
                        </li>
                        <li class="checkbox add-padding">
                            <label><input type="checkbox" ng-model="educational_aims_search.value2"
                                          ng-true-value="'Amélioration continue'" ng-false-value="''">Amélioration continue</label>
                        </li>
                        <li class="checkbox add-padding">
                            <label><input id="b" type="checkbox" value="Retrospective"
                                          ng-model="educational_aims_search.value3" ng-true-value="'Rétrospective'"
                                          ng-false-value="''">Rétrospective</label>
                        </li>
                        <li class="checkbox add-padding">
                            <label><input type="checkbox" value="" ng-model="educational_aims_search.value4"
                                          ng-true-value="'Travail itératif'"
                                          ng-false-value="''">Travail itératif</label>
                        </li>
                        <li class="checkbox add-padding">
                            <label><input type="checkbox" value="" ng-model="educational_aims_search.value5"
                                          ng-true-value="'Lead time vs Throughput'" ng-false-value="''">Lead time vs Throughput</label>
                        </li>
                        <li class="checkbox add-padding">
                            <label><input id="c" type="checkbox" value="TaF_WiP"
                                          ng-model="educational_aims_search.value6" ng-true-value="'TaF - WiP'"
                                          ng-false-value="''">TaF WiP</label>
                        </li>
                       <button type="button" class="btn btn-default center-block" ng-click="close()">Fermer</button>
                    </ul>
                </span>
                <input type="text" ng-model="query" class="form-control" placeholder="Rechercher...">
                <span class="input-group-btn">
                    <button class="btn btn-default"type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Résultat -->
        <div class="col-xs-12 no-padding">
            <div ng-repeat="elem in data.data |filter : searchTitle | filter: searchEduc ">
                <a href="/#/catalogue/{{elem.workshop._id}}">
                    <div class="col-xs-12 thumbnail">
                        <!-- Photo -->
                        <div class="col-xs-4 col-sm-3 no-padding-r">
                            <img class="img-responsive img-padding" src="{{elem.workshop.photo}}">
                        </div>
                        <div class="col-xs-8 col-sm-9">
                            <!-- Titre -->
                            <div class="col-xs-12 no-padding">
                                <div class="col-xs-12 col-md-6 no-padding">
                                    <h4 class="labelsTitle">{{elem.workshop.title}}</h4>
                                </div>
                                <div class="col-xs-12 col-md-6 padding-t labels no-padding">
                                    <span ng-repeat="category in elem.workshop.content.educational_aims | orderBy" >
                                            <span class="label {{getLabelColor(category)}}">{{category}}</span>
                                    </span>
                                 </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 no-padding">
                                <!-- Note -->
                                <div class="col-xs-12 no-padding">
                                    Participants :

                                    <i ng-if="elem.votes.participants"
                                       ng-class="{ 'fa fa-star': $index<=elem.votes.participants, 'fa fa-star-o': $index>elem.votes.participants }"
                                       data-ng-repeat="i in [] | range:5"></i>
                                    <span ng-if="!elem.votes.participants">Aucunes notes</span>
                                </div>
                                <div class="col-xs-12 no-padding">
                                    Facilitateurs :
                                    <i ng-if="elem.votes.facilitators"
                                       ng-class="{ 'fa fa-star': $index<=elem.votes.facilitators, 'fa fa-star-o': $index>elem.votes.facilitators }"
                                       data-ng-repeat="i in [] | range:5"></i>
                                    <span ng-if="!elem.votes.facilitators">Aucunes notes</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 no-padding padding-t">
                                <div>
                                    <!-- Temps de l'atelier -->
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                    {{elem.workshop.duration}}m
                                </div>
                            </div>
                            <!-- Detail -->
                            <p class="col-xs-12 hidden-xs no-padding padding-t">{{elem.workshop.synopsis}}</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Page nav -->
            <!--
            <nav aria-label="Page navigation">
                <ul class="pagination pull-right">
                    <li class="disabled">
                        <a aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            -->
        </div>
    </div>
</div>