/* --------- Navbar and Footer --------- */
html {
    padding-bottom: 80px;
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
}
.navbar.navbar-default {
    z-index: 1000;
}
.dropdown-menu i.pull-right {
    padding-top: 3px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    padding-top: 19px;
    border-top: 1px solid #e5e5e5;
}

/* --------- Basic --------- */

.label-purple {
    background-color: #9b59b6;
}
.label-yellow {
    background-color: #FFFF9D;
    color: #000;
}
.label-green {
    background-color: #79BD8F;
    color: #000;
}
.label-green2 {
    background-color: #BEEB9F;
    color: #000;
}
.label-green3 {
    background-color: #00A388;
}
.label-success {
    color: #000;
}
.add-padding {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.no-padding-r {
    padding-right: 0;
}
.no-padding-l {
    padding-left: 0;
}
.padding-t-b {
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding-t {
    padding-top: 10px;
}
.padding-b {
    padding-bottom: 10px;
}
.page-header {
    margin-top: 20px;
}
a {
    color: #333;
}
a:focus, a:hover {
    color: #333;
}
a:hover {
    cursor: pointer;
}
@media (max-width: 991px) {
    .padding-t-sm {
        padding-top: 22px !important;
    }
}
@media (max-width: 767px) {
    .no-padding-xs {
        padding-left: 0;
        padding-right: 0;
    }
    .padding-t-xs {
        padding-top: 15px !important;
    }
}

/* --------- Index --------- */
p.workshopTitle {
    position: absolute;
    bottom: 10px;
    padding: 6px 25px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    margin: 5px;
    width: calc(100% - 40px);
    font-size: 16px;
}

/* --------- Search --------- */
.search .row:first-child {
    padding-bottom: 20px;
}
.search-bar {
    margin-bottom: 15px;
}
.pagination > .active > a {
    color: #000;
    background-color: #e6e6e6;
    border-color: #ddd;
}
.pagination > .active > a:hover {
    color: #000;
    background-color: #e6e6e6;
    border-color: #333;
}
.pagination > li > a, .pagination > li > span {
    color: #333;
}
.pagination > li > a:hover, .pagination > li > span:hover {
    color: #000;
}
.search .img-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .container.search {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 991px) {
    .labels {
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 10px;
    }
    h4.labelsTitle {
        margin-bottom: 5px;
    }
    .labels {
        padding-bottom: 7px;
    }
}

/* --------- Workshop --------- */
.steps {
    min-height: 40px;
}
a:focus.link, a:hover.link {
    color: #23527c;
}
a.link {
    color: #337ab7;
}

.detail .com-start {
    line-height: 39px;
}
.detail .com {
    padding: 0 40px;
    margin-top: 50px;
}
.detail .small {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px
}
p.lineHeight {
    Line-Height: 18pt;
}
.favorite-true {
    display: none;
}
.favorite-false {
    display: inline-block;
}

@media (min-width: 768px) {
    .text-right-sm {
        text-align: right;
    }
}
/* --------- Form --------- */

input[type=file] {
    padding-top: 7px;
}

/* --------- Form dropdown --------- */
/*
select {
    background-image: url(../img/dropdown.png) !important;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 11px;
    background-position-x: calc(100% - 10px);
}

/* Instance */
.qrcode-off {
    display: none;
}
.qrcode-on {
    display: block;
}
canvas.qrcode {
    width: 204px;
}
.btn-right {
    float: right;
}

/* ThankYou */
p#thank {
    margin-top: 37vh;
    transform: translateY(-50%);
    font-size: 3em;
}
