<!-- Sidebar -->
<button type="button" class="sidebar-toggle sidebar-icon" onclick="sidebar()">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>

<button type="button" class="sidebar-phone sidebar-toggle sidebar-icon" onclick="sidebar()">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="text-right">
            <button type="button" class="sidebar-toggle" onclick="sidebar()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </li>
        <li>
            <a href="">Profile</a>
        </li>
        <li ng-class="{ active: isActive('/favoriteWorkshops')}">
            <a href="/#/favoriteWorkshops">Ateliers favoris</a>
        </li>
        <li ng-class="{ active: isActive('/instances')}">
            <a href="/#/instances">Ateliers préparés</a>
        </li>
        <li>
            <a href="">Historique des ateliers</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->