<div class="container">
    <!-- Titre page -->
    <div class="page-header">
        <h3>Noter un atelier</h3>
    </div>
    <div class="row">
        <div class="col-xs-12 no-padding">
            <h4 class="text-center">Noter l'atelier</h4><br />
            <form ng-submit="submit()" ng-controller="feedbackCtrl" class="form-horizontal col-xs-12">
                <div class="form-group">
                    <label class="col-sm-4 col-md-3 col-md-push-2 control-label">Noter l'utililité</label>
                    <div class="col-sm-6 col-md-4 col-md-push-2">
                        <select ng-model="note_u" class="form-control">
                            <option></option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-md-3 col-md-push-2 control-label">Noter l'amusement</label>
                    <div class="col-sm-6 col-md-4 col-md-push-2">
                        <select ng-model="note_a" class="form-control">
                            <option></option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-md-3 col-md-push-2 control-label">Commenter l'atelier</label>
                    <div class="col-sm-6 col-md-4 col-md-push-2">
                        <textarea type="text" ng-model="com" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-md-3 col-md-push-2 control-label">Photos</label>
                    <div class="col-sm-6 col-md-4 col-md-push-2">
                        <input type="file" id="InputPhotos" multiple="multiple" accept="image/*">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-center"><br />
                        <button id="submit" value="Submit" type="submit" class="btn btn-default" >Envoyer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>









