<div class="container">
    <!-- Titre page -->
    <div class="page-header">
        <h3>Noter L'atelier</h3>
    </div>
    <div class="row">
        <div class="col-xs-12 no-padding">
            <form ng-submit="submit()" ng-controller="feedbackCtrl" class="form-horizontal col-xs-12">
                <div class="form-group">
                    <label class="col-sm-4 col-md-3 col-md-push-2 control-label">Note</label>
                     <div class="col-sm-6 col-md-4 col-md-push-2">
                         <img class="img-responsive" src="img/graphVote.png" id="pointer_div" ng-click="point_it($event)">
                         <img class="img-responsive" src="img/cross.svg" id="cross" style="position:absolute;visibility:hidden;z-index:2;">
                         <span id="amusement">{{ isFacilitator ? "Difficulté de mise en oeuvre" : "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Amusement"}}</span>
                         <span id="utilité">Pertinance/Utilité</span>
                         <span id="zero">0</span>
                         <span id="cinq">5</span>
                         <span id="cinqb">5</span>
                     </div>
                </div>
                <br />
                 <div class="form-group">
                    <label class="col-sm-4 col-md-3 col-md-push-2 control-label">Commenter l'atelier</label>
                    <div class="col-sm-6 col-md-4 col-md-push-2">
                        <textarea type="text" ng-model="com" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-md-3 col-md-push-2 control-label">Photos</label>
                    <div class="col-sm-6 col-md-4 col-md-push-2">
                        <input id="InputPhotos" type="file" name="file" multiple="multiple"/>
                        <img ng-repeat="image in imagesToDisplay" src="{{image}}" width="50%" alt="Image preview...">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-center"><br />
                        <button id="submit" value="Submit" type="submit" class="btn btn-default" >Envoyer</button>
                    </div>
                </div>
                <p ng-if="uploading != ''" class="text-center">{{uploading}}</p>
            </form>
            <!--<form action="/upload" method="post">
                     <input type="file" name="image">
                <input type="submit" value="upload Image">

            </form>-->
        </div>
    </div>
</div>









