<div class="container">
    <!-- Titre page -->
    <div class="page-header">
        <h3>Importer un atelier</h3>
    </div>
    <div class="row">
        <!-- Detail -->
        <div class="col-xs-12 no-padding">
            <h4 class="add-padding">Importer depuis un fichier JSON</h4>
            <form class="form-horizontal col-xs-12">
                <!-- JSON import -->
                <div class="form-group">
                    <label class="col-md-3 control-label">Importer votre atelier</label>
                    <div class="col-md-9">
                        <div class="col-sm-6" style="margin-bottom: 10px">
                            <input type="file" id="InputJSON">
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-default" ng-click="importer()" >Envoyer</button>
                        </div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal col-xs-12" ng-submit="getFields()">
                <h4>Écrire directement l'atelier</h4>
                <!-- Title -->
                <div class="form-group">
                    <label class="col-md-3 control-label">Titre</label>
                    <div class="col-md-9">
                        <input required="required" type="text" class="form-control" id="inputTitle" placeholder="Titre de l'atelier">
                    </div>
                </div>
                <!-- Labels -->
                <div class="form-group">
                    <label class="col-md-3 control-label">Objectifs éducatifs</label>
                    <div class="col-md-9">
                        <div class="checkbox">
                            <label>
                                <input class="labelCheckbox" type="checkbox" value="Travail itératif">
                                <span class="label label-success">Travail itératif</span>
                            </label>
                            <label>
                                <input class="labelCheckbox" type="checkbox" value="Amélioration continue">
                                <span class="label label-primary">Amélioration continue</span>
                            </label>
                            <label>
                                <input class="labelCheckbox" type="checkbox" value="Prévisions">
                                <span class="label label-info">Prévisions</span>
                            </label>
                            <label>
                                <input class="labelCheckbox" type="checkbox" value="Rétrospective">
                                <span class="label label-warning">Rétrospective</span>
                            </label>
                            <label>
                                <input class="labelCheckbox" type="checkbox" value="TaF - WiP">
                                <span class="label label-purple">TaF - WiP</span>
                            </label>
                            <label>
                                <input class="labelCheckbox" type="checkbox" value="Lead time vs Throughput">
                                <span class="label label-yellow">Lead time vs Throughput</span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- Duration-->
                <div class="form-group">
                    <label class="col-md-3 control-label">Durée</label>
                    <div class="col-md-9">
                        <input required="required" type="number" class="form-control" id="inputDuration" placeholder="Durée de l'atelier (minutes)">
                    </div>
                </div>
                <!-- Author -->
                <div class="form-group">
                    <label class="col-md-3 control-label">Auteur</label>
                    <div class="col-md-9">
                        <input required="required" type="text" class="form-control" id="inputAuthor" placeholder="Auteur de l'atelier">
                    </div>
                </div>
                <!-- Source -->
                <div class="form-group">
                    <label class="col-md-3 control-label">Source</label>
                    <div class="col-md-9">
                        <input type="url" class="form-control" id="inputSource" placeholder="URL de la source">
                    </div>
                </div>
                <!-- Photo -->
                <div class="form-group">
                    <label class="col-md-3 control-label">Photo</label>
                    <div class="col-md-9">
                        <!--<input type="url" class="form-control" id="inputPhoto" placeholder="URL de la photo">-->
                        <input id="inputPhotos" type="file" name="file"/>
                    </div>
                </div>
                <!-- Synopsis -->
                <div class="form-group">
                    <label class="col-md-3 control-label">Synopsis</label>
                    <div class="col-md-9">
                        <textarea required="required" class="form-control" id="inputSysnopsis" rows="3" style="max-width: 100%" placeholder="Court texte affiché lors d'une recherche"></textarea>
                    </div>
                </div>
                <!-- Folklore -->
                <div class="form-group" id="folklore-textarea-ancre">
                    <label class="col-md-3 control-label">Folklore</label>
                    <div class="col-md-9">
                        <textarea id="folklore-textarea" placeholder="Description de l'atelier" style="width: 100%; border-color: #2c3e50; padding: 6px 12px; border-radius: 4px; outline: rgb(51, 51, 51) none 0px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075); transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;"></textarea>
                    </div>
                </div>
                <!-- Equipment -->
                <div class="form-group" id="equipment-textarea-ancre">
                    <label class="col-md-3 control-label">Équipment</label>
                    <div class="col-md-9">
                        <textarea id="equipment-textarea" placeholder="Matériel & Setup de la salle" style="width: 100%; border-color: #2c3e50; padding: 6px 12px; border-radius: 4px; outline: rgb(51, 51, 51) none 0px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075); transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;"></textarea>
                    </div>
                </div>
                <!-- Steps -->
                <div class="after-add-more">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Conducteur de l'atelier</label>
                        <div class="col-xs-9" id="border-conducteur">
                        </div>
                    </div>
                    <!-- Steps : title -->
                    <div class="form-group" id="{{stepsTextareaAncre}}">
                        <label class="col-md-3 control-label">Titre</label>
                        <div class="input-group col-md-9 add-padding">
                            <input required="required" type="text" name="addmore[]" class="form-control" id="inputStepTitle" placeholder="Titre de l'itération">
                            <span class="btn add-more input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                        </div>
                    </div>
                    <!-- Steps : duration -->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Durée</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" id="inputStepDuration" placeholder="Durée de l'itération en minute">
                        </div>
                    </div>
                    <!-- Steps description -->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Description</label>
                        <div class="col-md-9">
                            <textarea id="steps-textarea" placeholder="Conducteur de l'atelier : description" style="width: 100%; border-color: #2c3e50; padding: 6px 12px; border-radius: 4px; outline: rgb(51, 51, 51) none 0px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075); transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Instructions affichées</label>
                        <div class="col-md-9">
                            <textarea id="instructions-textarea" placeholder="Instructions à afficher aux participants" style="width: 100%; border-color: #2c3e50; padding: 6px 12px; border-radius: 4px; outline: rgb(51, 51, 51) none 0px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075); transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-default" >Envoyer</button>
                    </div>
                </div>
            </form>

            <!-- Copy Fields -->
            <div class="copy hide">
                <!-- Steps : title -->
                <div class="control-group">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Titre</label>
                        <div class="input-group col-md-9 add-padding">
                            <input type="text" name="addmore[]" class="form-control" id="{{inputStepTitle}}" placeholder="Titre de l'itération">
                            <span class="btn add-more input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                            <span class="btn remove input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
                        </div>
                    </div>
                    <!-- Steps : duration -->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Durée</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" id="{{inputStepDuration}}" placeholder="Durée de l'itération en minute">
                        </div>
                    </div>
                    <!-- Steps description -->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Description</label>
                        <div class="col-md-9">
                            <textarea id="{{stepsTextarea}}" placeholder="Conducteur de l'atelier : description" style="width: 100%; border-color: #2c3e50; padding: 6px 12px; border-radius: 4px; outline: rgb(51, 51, 51) none 0px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075); transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Instructions affichées</label>
                        <div class="col-md-9">
                            <textarea id="{{instructionsTextarea}}" placeholder="Instructions à afficher aux participants" style="width: 100%; border-color: #2c3e50; padding: 6px 12px; border-radius: 4px; outline: rgb(51, 51, 51) none 0px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075); transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>