<div class="container detail">
    <!-- Titre page -->
    <div class="page-header">
        <h3>{{workshopInstance.title}}</h3>
    </div>
    <div class="row">
        <!-- Detail -->
        <div class="col-xs-12 no-padding">
            <!-- image -->
            <div class="col-xs-12 col-sm-5">
                <img class="img-responsive center-block" src="{{workshopInstance.photo}}">
            </div>
            <!-- Info atelier -->
            <div class="col-xs-12 col-sm-7">
                <div class="col-xs-12 col-sm-5 no-padding col-sm-push-7 text-right-sm"></div>
                <div class="col-xs-12 col-sm-7 no-padding col-sm-pull-5">
                    <h4>Informations pratiques</h4>
                </div>
                <span class="lineHeight">
                    <span ng-repeat="category in workshopInstance.educational_aims | orderBy">
                        <span class="label {{getLabelColor(category)}}">{{category}}</span>
                    </span><br /><br />

                    Notes :<br />
                    <div class="col-xs-12">
                        Participants :
                        <i ng-if="workshopInstance.grade.participants"
                           ng-class="{ 'fa fa-star': $index<=workshopInstance.grade.participants, 'fa fa-star-o': $index>workshopInstance.grade.participants }"
                           data-ng-repeat="i in [] | range:5"></i>
                        <span ng-if="!workshopInstance.grade.participants">Aucunes notes</span>
                    </div>
                    <div class="col-xs-12">
                        Facilitateurs :
                        <i ng-if="workshopInstance.grade.facilitators"
                           ng-class="{ 'fa fa-star': $index<=workshopInstance.grade.facilitators, 'fa fa-star-o': $index>workshopInstance.grade.facilitators }"
                           data-ng-repeat="i in [] | range:5"></i>
                        <span ng-if="!workshopInstance.grade.facilitators">Aucunes notes</span>
                    </div>
                    <br /><br /><br />
                    Durée de l'atelier : {{workshopInstance.duration}} minutes<br />
                    Auteur: {{workshopInstance.author}}<br />
                    Source : <a class="link" target="_blank" href="{{workshopInstance.source}}">{{workshopInstance.source}}</a><br />
                </span>
            </div>
            <!-- Description -->
            <div class="col-xs-12" >
                <h4>Description de l'atelier<div class="line center-block"></div></h4>
                <p class="text-justify" ng-bind-html="workshopInstance.folklore | to_trusted">

                </p>
            </div>
            <!-- Materiel -->
            <div class="col-xs-12">
                <h4>Matériel & Setup de la salle</h4>
                <div ng-bind-html="workshopInstance.equipment | to_trusted"></div>
            </div>
            <!-- Conducteur -->
            <div class="col-xs-12" >
                <h4>Conducteur de l'atelier</h4>
                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col class="col-xs-1">
                        <col class="col-xs-2">
                        <col class="col-xs-9">
                    </colgroup>
                    <thead><tr>
                        <th class="text-center">Timing</th>
                        <th class="text-center">Phase</th>
                        <th class="text-center">Description</th>
                    </tr>
                    </thead> <tbody>
                <tr ng-repeat="step in workshopInstance.steps">
                    <td class="text-center">{{timingArray[$index]}}</td>
                    <td class="text-center">{{step.title}}<br />{{step.duration.theorical}}</td>
                    <td ng-bind-html="step.description | to_trusted"></td>
                </tr>
                </tbody> </table>
            </div>
        </div>
    </div>
</div>



