<div class="container">
    <!-- Titre page -->
    <div class="page-header">
        <h3>{{workshopInstance.data.title}}</h3>
    </div>
    <div ng-show="currentUser">
        <div class="row">
            <div class="col-md-6 col-xs-12 padding-b">
                <timer></timer>
            </div>
            <div>
                <p>A l'arrache : moyenne calculée facilitator : {{workshopInstance.data.grade.facilitators}} </p>
                <p>Moyenne calculée Participant : {{workshopInstance.data.grade.participants}}</p>
            </div>
            <div class="col-md-6 col-xs-12 padding-b">
                <a href="/#/feedback/{{workshopInstance.data._id}}"><button type="button" class="btn btn-default">Donner un feedback</button></a>
                <a data-toggle="modal" data-target="#confirmationModal"><button type="button" class="btn btn-danger btn-right" uib-tooltip="Supprimer l'instance" tooltip-placement="top"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></a><br /><br />

                <button type="button" class="btn btn-default" ng-click="afficherQrcode()">Afficher QRCode</button><br /><br />
                <div ng-controller="qrcodeCtrl" class="qrcode-off">
                    <qrcode size="315" data="{{feedbackLink}}" href="{{feedbackLink}}"></qrcode>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-8">
    <h4>Les commentaires :
        <button id="button-facilitators" type="button" class="btn btn-default active" ng-click="focusFeedback('facilitators')">Facilitateurs</button>
        <button id="button-participants" type="button" class="btn btn-default active" ng-click="focusFeedback('participants')">Participants</button></h4>
        <div class="feedback-participants" ng-repeat="participants in workshopInstance.data.feedbacks.participants">
            <div class="thumbnail" ng-if="participants.comment">
                <div class="col-xs-6">
                    <h4>Un participant</h4>
                </div>
                <div class="col-xs-6 com-start">
                    <span>Note d'utilité : {{participants.voteDimension1}}/5</span><br/>
                    <span>Note d'amusement: {{participants.voteDimension2}}/5</span>
                </div>
                <p class="com"> {{participants.comment}}</p>
            </div>
        </div>
        <div class="feedback-facilitators" ng-repeat="facilitators in workshopInstance.data.feedbacks.facilitators">
            <div class="thumbnail" ng-if="facilitators.comment">
                <div class="col-xs-6">
                    <h4>Un facilitateur</h4>
                </div>
                <div class="col-xs-6 com-start">
                    <span>Note d'utilité : {{facilitators.voteDimension1}}/5</span><br/>
                    <span>Note d'amusement : {{facilitators.voteDimension2}}/5</span>
                </div>
                <p class="com">{{facilitators.comment}}</p>
            </div>
        </div>
        <div ng-if="!workshopInstance.data.feedbacks.participants[0].comment && !workshopInstance.data.feedbacks.facilitators[0].comment">
            <p>Pas encore de commentaires</p>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <h4>Les photos : </h4>
        <div ng-repeat="photos in workshopInstance.data.photos">
            <a href="uploads/{{photos.filename}}"  target="_blank"><img class="img-responsive" src="uploads/{{photos.filename}}"></a>
        </div>
        <div ng-if="!workshopInstance.data.photos[0]">
            <p>Pas encore de photos</p>
        </div>
    </div>
</div>

<!-- Modal -->
<!-- Confirmation -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Supprimer l'instance de l'atelier</h4>
            </div>
            <div class="modal-body text-center">
                <p>Êtes vous sûr(e) de vouloir supprimer <b>l'instance</b> de cet atelier ?</p><br/>
                <button data-dismiss="modal" type="button" class="btn btn-default">Non</button>
                <span class="add-padding"></span>
                <button data-dismiss="modal" type="button" class="btn btn-default" ng-click="deleteInstance()">Oui</button>
                <br/>
            </div>
        </div>
    </div>
</div>






