<div class="container">
    <!-- Titre page -->
    <div class="page-header">
        <h3 style="margin-right: 110px;">{{workshopInstance.title}}</h3>
        <a data-toggle="modal" data-target="#confirmationModal">
            <button id="delete-instance" type="button" class="btn btn-danger btn-right" uib-tooltip="Supprimer l'instance" tooltip-placement="top">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </a>
        <a href="/#/instances/{{workshopInstance._id}}/detail">
            <button id="instance-detail" type="button" class="btn btn-default btn-right" uib-tooltip="Détail de l'instance" tooltip-placement="top">
                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
            </button>
        </a>
    </div>
    <div ng-show="currentUser">
        <div class="row">
            <div id="timer" class="col-md-6 col-xs-12 padding-b">
                <h4 style="margin-bottom: 40px">Chronomètre</h4>
                <timer></timer>
            </div>
            <!--
            <div>
                <p>A l'arrache : moyenne calculée facilitator : {{workshopInstance.grade.facilitators}} </p>
                <p>Moyenne calculée Participant : {{workshopInstance.grade.participants}}</p>
            </div>
            -->
            <div id="buttons" class="col-md-6 col-xs-12 padding-b">
                <h4>Feedback</h4> <br />
                <a href="/#/feedback/{{workshopInstance._id}}"><button type="button" class="btn btn-default">Donner un feedback</button></a><br /><br/>
                <button type="button" class="btn btn-default" ng-click="afficherQrcode()">Afficher QRCode</button><br /><br />
                <div ng-controller="qrcodeCtrl" class="qrcode-off">
                    <qrcode size="315" data="{{feedbackLink}}" href="{{feedbackLink}}"></qrcode>
                </div>
            </div>
        </div>
    </div>
    <div id="commentaires" class="col-xs-12 col-md-8 no-padding">
        <h4>Les commentaires
            </h4>
        <span ng-hide="!workshopInstance.feedbacks.participants[0].comment && !workshopInstance.feedbacks.facilitators[0].comment">
            <button id="button-facilitators" type="button" class="btn btn-default active" ng-click="focusFeedback('facilitators')">Facilitateurs</button>
            <button id="button-participants" type="button" class="btn btn-default active" ng-click="focusFeedback('participants')">Participants</button>
         <br /><br />
        </span>
        <div class="feedback-participants" ng-repeat="participants in workshopInstance.feedbacks.participants">
            <div class="thumbnail" ng-if="participants.comment">
                <div class="col-xs-6">
                    <h4>Un participant</h4>
                </div>
                <div class="col-xs-6 com-start">
                    <span>Note d'utilité : {{participants.voteDimension1}}/5</span><br/>
                    <span>Note d'amusement: {{participants.voteDimension2}}/5</span>
                </div>
                <p class="com"> {{participants.comment}}</p>
            </div>
        </div>
        <div class="feedback-facilitators" ng-repeat="facilitators in workshopInstance.feedbacks.facilitators">
            <div class="thumbnail" ng-if="facilitators.comment">
                <div class="col-xs-6">
                    <h4>Un facilitateur</h4>
                </div>
                <div class="col-xs-6 com-start">
                    <span>Note d'utilité : {{facilitators.voteDimension1}}/5</span><br/>
                    <span>Note d'amusement : {{facilitators.voteDimension2}}/5</span>
                </div>
                <p class="com">{{facilitators.comment}}</p>
            </div>
        </div>
        <div ng-if="!workshopInstance.feedbacks.participants[0].comment && !workshopInstance.feedbacks.facilitators[0].comment">
            <p>Pas encore de commentaires</p>
        </div>
    </div>
    <div id="photos" class="col-xs-12 col-md-4">
        <h4>Les photos</h4>
        <div ng-repeat="photos in workshopInstance.photos">
            <a href="{{photos.filename}}"  target="_blank"><img class="img-responsive" src="{{photos.filename}}"></a>
        </div>
        <div ng-if="!workshopInstance.photos[0]">
            <p>Pas encore de photos</p>
        </div>
    </div>
</div>

<!-- Modal -->
<!-- Confirmation -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Supprimer l'instance de l'atelier</h4>
            </div>
            <div class="modal-body text-center">
                <p>Êtes vous sûr(e) de vouloir supprimer <b>l'instance</b> de cet atelier ?</p><br/>
                <button data-dismiss="modal" type="button" class="btn btn-default">Non</button>
                <span class="add-padding"></span>
                <button data-dismiss="modal" type="button" class="btn btn-default" ng-click="deleteInstance()">Oui</button>
                <br/>
            </div>
        </div>
    </div>
</div>






